.footer-main-container{
  background: url("./../assets/images/Footer.png") no-repeat;

  padding-top: 53px;
  padding-bottom: 46px;

  & .section-title{
    color: $white;
    margin:  0 0 42px 0;
  }

  & .footer-container{
    display: flex;
    justify-content: flex-start;
  }

  & .footer-contact{
    margin-right: 160px;
  }

  & a{
    color: $beige;
    display: inline-block;
    align-items: normal;
  }

  & span{
    font-family:"Georgia W05 Regular5162277", sans-serif;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    font-style: normal;
  }

  & .footer-contact-list li:first-child{
    margin-bottom: 43px;
  }

  & .footer-address-list li:first-child{
    margin-bottom: 36px;
  }

  & .footer-address .section-title{
    margin: 0 0 35px 0;
  }

  & .footer-contact-list li a svg{
    display: inline-block;
    vertical-align: middle;

    margin-right: 17px;
  }



  & .footer-address-list li a svg{
    display: inline-block;
    vertical-align: middle;

    margin: -3px 18px 0 0;
  }
}

.footer-address-text{
  display: flex;
  align-items: center;

  & .footer-text{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 300px;
  }
}

.footer-image{
  width: 300px;
  height: 310px;
  border: none;
}

