#footer{
  background: url("./../assets/images/noise_transparent.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;

  @include for-size(phone){
    display: block;
  }

  @include for-size(tablet){
    flex-wrap: wrap;
  }
}

.footer-main-container{
  @include for-size(desktop){
    display: flex;
    padding-top: 38px;
  }

  @include for-size(tablet){
    padding: 30px 30px 0 33px;
  }


  & .section-title{
    color: $white;
    margin:  0 0 40px 0;

    @include for-size(phone){
      margin:  0 0 40px 0;
    }

    @include for-size(desktop){
      margin:  0 0 40px 0;
    }
  }

  & .footer-container{
    display: flex;


    @include for-size(phone){
      padding-top: 30px;
      margin-bottom: 37px;
      display: block;
    }

    @include for-size(desktop){
      justify-content: space-between;
      margin-top: 20px;
    }
  }

  & .footer-contact{
    @include for-size(desktop){
      margin-right: 140px;
    }

    @include for-size(tablet){
      width: calc((100% - 60px) / 2);
      margin-right: 49px;
    }

    & .footer-contact-title-container{
      @include for-size(desktop){
        max-width: 300px;
      }
    }
  }

  & .footer-address{
    @include for-size(tablet) {
      width: calc((100% - 60px) / 2);
    }

    @include for-size(desktop){
      margin-right: 120px;
    }
  }

  & a{
    color: $beige;
    display: inline-block;
    align-items: normal;
  }

  & span{
    font-family:$georgia;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    font-style: normal;
  }

  & .footer-contact-list{
    @include for-size(phone){
      padding-left: 24px;
      margin-bottom: 40px;
    }
    & li:nth-child(2){
      @include for-size(phone){
        padding-left: 6px;
      }

    }

  }

  & .footer-contact-list li:first-child{
    margin-bottom: 40px;
  }

  & .footer-address-list li:first-child{
    margin-bottom: 31px;

    @include for-size(phone){
      margin-bottom: 40px;
    }
  }

  & .footer-address .section-title{
    margin: 0 0 33px 0;

    @include for-size(phone){
      margin: 0 0 38px 0;
    }
  }

  & .footer-contact-list li a svg{
    display: inline-block;
    vertical-align: middle;

    margin-right: 17px;
  }


  & .footer-address-list li a svg{
    display: inline-block;
    vertical-align: middle;

    @include for-size(desktop){
      margin: 0 16px 0 0;
    }
    margin: 0 18px 0 0;
  }
}

.footer-address-list li{
  &:nth-child(2) a svg{
    margin: 0 15px 0 0;
  }
}


.footer-address-text{
  display: flex;
  align-items: center;

  & .footer-text{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    width: 300px;

    @include for-size(phone){
      max-width: 260px;
    }

  }
}

.footer-img-container{
  @include for-size(tablet){
    display: flex;
    justify-content: center;

    margin-top: 65px;
  }

  @include for-size(phone){
    display: flex;
    justify-content: center;
  }
}

.footer-address-title-container{
  @include for-size(desktop){
    max-width: 300px;
  }

  @include for-size(phone){
    max-width: 280px;
    margin: 0 auto;
  }
}

