.pets-header{
  background-color: $white;

  & .header-container{
    padding-top: 30px;
    padding-bottom: 28px;

    @include for-size(tablet){
      padding-bottom: 28px;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 119px;
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include for-size(tablet){
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @include for-size(desktop){
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include for-size(phone){
    padding-top: 30px;
  }
}

.main{
  //background: url("./../assets/images/desktop/HeroDesktop1") no-repeat center 0;

  background: url("./../assets/images/noise_transparent.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

@include for-size(phone){
  .main{
    //background: url("./../assets/images/phone/herophone.jpeg") no-repeat center 0;
  }
}

@include for-size(tablet){
  .main{
    //background: url("./../assets/images/noise_transparent.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    //background: url("./../assets/images/tablet/herotablet.jpeg") no-repeat center 0;
  }
}

@include for-size(desktop){
  .main{
    //background: url("./../assets/images/desktop/herodesktop.jpeg") no-repeat center 0;
  }
}

