.pets-header{
  background-color: $white;

  & .header-container{
    padding: 30px 0;
  }
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 60px;
  padding-bottom: 60px;

}

.main{
  background: url("./../assets/images/startScreen.png") no-repeat center 0;
}

