.pets-header{
  background-color: $white;

  & .header-container{
    padding: 29px 0;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 119px;
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 60px;
  padding-bottom: 60px;

}

.main{
  background: url("./../assets/images/startScreen.png") no-repeat center 0;
}

