#friends{
  background-color: $light-grey;

  padding: 80px 0 110px 0;

  & .section-title{
    text-align: center;
    margin: 0 0 60px 0;
  }
}

.button-container{
    text-align: center;

  & .button{
    padding: 17px 45px;
  }

  & .button:hover{
    color: $black;
  }
}

.friend-list{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 77px;

  & li{
    background-color: $grey-white;
    text-align: center;

    margin-right: 90px;

    &:nth-child(1){
      margin-right: 53px;
    }

    &:nth-child(4){
      margin-right: 53px;
    }

    &:nth-child(5){
      margin: 0;
    }

    &:hover{
      cursor: pointer;
    }

    &.arrow-item{
      background-color: transparent;
    }

    & p{
      margin: 30px 0;

      font-family:$georgia;
      font-style: normal;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.06em;
    }

    & button{
      margin-bottom: 30px;

      &.arrow{
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid $beige;
        padding: 13px 17px;
        margin: 0;

        .arrow-left, .arrow-right{
          fill: $black;
        }

        &:hover{
          cursor: pointer;
          background-color: $beige;
        }
      }
    }

  }
}

.friend-center-button{
  margin: 60px 0 0 0;
}