#Only{
  background: url("./../assets/images/noise_transparent.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  @include for-size(desktop){
    height: 728px;
  }

  @include for-size(tablet){
    height: 1015px;
    padding-top: 30px;
  }

  @include for-size(phone){
    height: 731px;
  }


  & h2{
    color: $white;
    font-family: $georgia;
    font-size: 44px;
    line-height: 130%;
    margin: 0 0 42px 0;

    @include for-size(phone){
      font-size: 25px;
      letter-spacing: 0.06em;
      text-align: center;
    }
  }

  & p{
    color: $grey;
    margin: 0 0 42px 0;

    @include for-size(phone){
      text-align: center;
      margin: 0 0 40px 0;

    }
  }
}

.only-section-container{
  @include for-size(desktop){
    display: flex;
  }


  & .only-text-part-container{
    @include for-size(desktop){
      margin-right: 30px;
    }

    @include for-size(tablet){
      margin-bottom: 100px;
    }

    @include for-size(phone){
      margin-bottom: 106px;
    }

  }
}

.only-head-container{
  max-width: 400px;

  @include for-size(desktop){
    padding-top: 163px;
  }

  @include for-size(phone){
    max-width: 200px;
    margin: 0 auto;
    padding-top: 58px;
  }

  @include for-size(tablet){
    margin-left: 124px;
  }
}

.only-text-container{
  max-width: 472px;

  @include for-size(phone){
    text-align: center;
    max-width: 300px;
  }
  @include for-size(tablet){
    margin-left: 124px;

    & .button{
      margin-left: 126px;
    }
  }
}

.hero-image-container{
  display: flex;
  justify-content: flex-end;

  @include for-size(desktop){
    display: block;
  }
}


