#help{
  padding: 80px 85px 45px 85px;

  @include for-size(tablet){
    padding: 80px 39px 46px 39px;
  }

  @include for-size(phone){
    padding: 42px 5px 41px 5px;
  }

  & .help-title-container{
    max-width: 310px;
    text-align: center;
    margin: 0 auto 60px auto;

    @include for-size(phone){
      margin: 0 auto 42px auto;
      max-width: 250px;
    }
  }


  & ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @include for-size(phone){
      justify-content: flex-start;
    }


    & li{
      text-align: center;

      & svg{
        @include for-size(phone){
          width: 50px;
          height: 50px;
        }
      }

      & p{
        font-family:$georgia;
        font-style: normal;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;

        margin: 21px 0 0 0;

        @include for-size(phone){
          font-size: 15px;
          line-height: 110%;

          margin: 12px 0 0 0;
        }
      }

      @include for-size(phone){
        margin-right: 30px;
        margin-bottom: 30px;
        width: calc((100% - 30px) / 2);

        &:nth-child(2n){
          margin-right: 0;
        }
        &:nth-child(9){
          margin-bottom: 0;
        }
      }

      @include for-size(desktop){
        margin-right: 120px;
        margin-bottom: 55px;

        &:nth-child(5){
          margin-right: 0;
        }
        &:nth-child(9){
          margin-right: 0;
        }
      }

      @include for-size(tablet){
        margin-right: 60px;
        margin-bottom: 55px;
        width: calc((100% - 120px) / 3);

        &:nth-child(3){
          margin-right: 0;
        }
        &:nth-child(6){
          margin-right: 0;
        }
        &:nth-child(9){
          margin-right: 0;
        }
      }
    }
  }
}