#friends{

  background-color: $light-grey;

  padding: 80px 0 100px 0;

  @include for-size(phone){
    padding: 42px 0 42px 0;
  }

  @include for-size(tablet){
    padding: 80px 0 76px 0;
  }

  & .section-title{
    text-align: center;

    margin: 0 0 60px 0;

    @include for-size(phone){
      margin: 0 0 42px 0;
    }

    @include for-size(tablet){
      margin: 0 0 30px 0;
    }
  }

  & .pets-friends-list{
    display: flex;
    flex-wrap: wrap;

    @include for-size(phone){
      display: block;
      padding: 0 15px;
    }

    @include for-size(desktop){
      width: calc(100% - 120px) / 4;
    }

    @include for-size(tablet){
      padding: 0 64px;
    }

    & li{
      background-color: $grey-white;
      border-radius: 9px;

      text-align: center;
      margin: 0 40px 30px 0;

      @include for-size(phone){
        margin: 0 0 30px 0;

        &:nth-child(3){
          margin: 0;
        }

        &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8){
          display: none;
        }
      }

      @include for-size(tablet){
        width: calc((100% - 40px) / 2);
      }

      &:nth-child(4){
        margin-right: 0;
      }

      &:nth-child(8){
        margin-right: 0;
      }

      @include for-size(tablet){
        &:nth-child(2n){
          margin-right: 0;
        }
        &:nth-child(7){
          display: none;
        }
        &:nth-child(8){
          display: none;
        }
      }

      & p{
        margin: 30px 0;

        font-family:$georgia;
        font-style: normal;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;

        @include for-size(tablet){
          margin: 30px 0;
        }
      }

      & button{
        margin-bottom: 30px;
        padding: 15px 42px 12px 42px;
      }

      &:hover{
        cursor: pointer;

        & button{
          cursor: pointer;
          background-color: $beige;
        }
      }
    }
  }
}

.pets-list-control{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 29px;

  @include for-size(phone){
    margin-top: 39px;
  }

  @include for-size(tablet){
    margin-top: 7px;
  }

  & li{
    margin-right: 20px;

    @include for-size(phone){
      margin-right: 10px;
    }

    &:nth-child(5){
      margin: 0;
    }
  }

  & li button{
    border: 2px solid $grey;
    border-radius: 50%;
    background-color: transparent;
    margin: 0;
    padding: 0;

    font-size: 20px;
    line-height: 115%;

    &:hover{
      cursor: pointer;
    }

  }

  & li .first, .fifth{
    padding: 12px 10px;
  }

  & li .first, .second{
    color: $grey;
  }

  & li .fourth, .fifth{
    border-color: $beige;
  }

  & li .second, .fourth{
    padding: 12px 17px;
  }

  & li .third{
    padding: 12px 19px;

    border-color: $beige;
    background-color: $beige;
  }


}