#donation{
  background-color: $light-grey;
  color: $dark-grey;

  padding: 80px 0 100px 0;

  @include for-size(phone){
    padding: 42px 0;
  }

  & .donation-title-container{
     @include for-size(phone){
       max-width: 220px;
       margin: 0 auto;
     }
    @include for-size(desktop){
      max-width: 300px;
    }
  }

  & .section-title{
    text-align: left;
    @include for-size(phone){
      text-align: center;
      margin: 0 0 22px 0;
    }
    margin: 0 0 20px 0;
  }

  & .donation-image-container{
    @include for-size(desktop){
      margin-right: 30px;
    }


    @include for-size(tablet){
      display: flex;
      justify-content: center;
      margin: 60px 0 0 0;
    }

    @include for-size(phone){
      display: flex;
      justify-content: center;
    }

  }

  & .donation-text-container{
    max-width: 380px;

    @include for-size(tablet){
      margin: 0 auto;
    }

    & .donation-bank{
      font-family: $georgia;
      line-height: 110%;
      letter-spacing: 0.06em;
      margin: 0 0 20px 0;

      @include for-size(phone){
        text-align: center;
        letter-spacing: 0;
        margin: 0 0 24px 0;
      }
    }
  }

}

.donation-card-link{
  background-color: $beige;
  padding: 10px 15px;
  border-radius: 9px;

  display: inline-flex;

  @include for-size(phone){
    justify-content: center;
    align-items: center;
  }

  & span{
    margin-left: 15px;

    font-family: $georgia;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;

    @include for-size(phone){
      line-height: 110%;
      font-size: 15px;

      margin-left: 12px;
    }
  }

  & svg{
    margin-left: 1px;
    fill: $black;
  }

  &:hover{
    cursor: pointer;
  }
}

.donation-flex{
  @include for-size(desktop){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }
  @include for-size(phone){
    padding: 0 10px;
  }
}

.donation-italic-text{
  font-family:$arial;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: $grey-italic;

  margin: 20px 0 0 0;

  @include for-size(phone){
    text-align: justify;

    margin-bottom: 42px;
  }
}