#about{
  padding: 80px 0 100px 0;

  margin: 0 auto;

  @include for-size(tablet){
    width: 60%;
  }

  @include for-size(phone){
    padding: 42px 0 40px 0;
    width: 100%;
  }

  @include for-size(desktop){
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  & .about-text-container{

    @include for-size(desktop){
    margin-left: 120px;
    }

    @include for-size(tablet){
      margin-bottom: 80px;
    }

    & .about-title-container{
      max-width: 390px;
    }

    @include for-size(phone){
      padding: 0 15px;
      margin-bottom: 42px;
    }

    @include for-size(desktop){
      max-width: 430px;
    }
  }
  & .about-image-container{
    display: flex;
    justify-content: center;
  }

  & .first{
    margin-bottom: 25px;

    @include for-size(phone){
      margin-bottom: 22px;
    }
  }

  & p{
    margin: 0;

    @include for-size(phone){
      text-align: justify;
    }

  }
}

