#Only{
  background: url("./../assets/images/startScreen.png") no-repeat center -180px;
  height: 728px;

  & h2{
    color: $white;
    font-family: $georgia;
    font-size: 44px;
    line-height: 130%;
    margin: 0 0 42px 0;
  }

  & p{
    color: $grey;
    margin: 0 0 42px 0;
  }
}

.only-head-container{
  padding-top: 163px;
  width: 400px;
}

.only-text-container{
  width: 472px;
}

