#Only{
  @include for-size(desktop){
    background: url('./../assets/images/desktop/herodesktop.jpeg') no-repeat center -120px;
    height: 728px;
  }

  @include for-size(tablet){
    background: url('./../assets/images/tablet/herotablet.jpeg') no-repeat center -120px;
    height: 1015px;

    padding-top: 30px;
  }

  @include for-size(phone){
    background: url('./../assets/images/phone/herophone.jpeg') no-repeat center -90px;
    height: 733px;
  }


  & h2{
    color: $white;
    font-family: $georgia;
    font-size: 44px;
    line-height: 130%;
    margin: 0 0 42px 0;

    @include for-size(phone){
      font-size: 25px;
      letter-spacing: 0.06em;
      text-align: center;
    }
  }

  & p{
    color: $grey;
    margin: 0 0 42px 0;

    @include for-size(phone){
      text-align: center;
      margin: 0 0 40px 0;
    }
  }
}

.only-head-container{
  max-width: 400px;

  @include for-size(desktop){
    padding-top: 163px;
  }

  @include for-size(phone){
    max-width: 200px;
    margin: 0 auto;
    padding-top: 58px;
  }

  @include for-size(tablet){
    margin-left: 124px;
  }
}

.only-text-container{
  max-width: 472px;

  @include for-size(phone){
    text-align: center;
    max-width: 300px;
  }
  @include for-size(tablet){
    margin-left: 124px;

    & .button{
      margin-left: 126px;
    }
  }
}


