body.lock{
  overflow: hidden;
}

.wrapper{
  min-height: 100%;
}

@include for-size(phone) {
  #petsHeader {
    & .menu-icon::after, .menu-icon::before, .menu-icon span {
      background-color: $burger-black;
    }

    & .main-icon{
      margin-right: 53px;
    }
  }
}

.menu-icon{
  display: none;

  @include for-size(phone){
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    cursor: pointer;

    margin-right: 43px;



    &::after, &::before, & span{
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: $beige;
    }

    &::before, &::after{
      content: "";
    }

    &::before{
      top: 0;
    }
    &::after{
      bottom: 0;
    }

    & span{
      top: 50%;
      transform: scale(1) translate(0px, -50%);
    }
  }
}

.menu-icon.active {
  transform: rotate(90deg);
}

.menu-body{
  @include for-size(phone){
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: $black;
    transition: right 0.3s ease 0s;
    overflow: auto;

    & .navigation-list{
      padding: 100px 0 0 0;
    }

    &.active{
      right: 0;
    }
  }
}