button{
  border: none;
  border-radius: 100px;
  padding: 15px 45px;
  background-color: $beige;

  font-family: $georgia;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $black;

  &.light-button{
    background-color: $white;
    border: 2px solid $beige;
    padding: 12px 41px;

    @include for-size(tablet){
      padding: 13px 43px;
    }
  }
}

.button{
  border-radius: 100px;
  padding: 15px 45px;
  background-color: $beige;

  font-family: $georgia;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $black;

  &:hover{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid $beige;
    color: $white;
  }
}