button{
  border: none;
  border-radius: 100px;
  padding: 15px 45px;
  background-color: $beige;

  font-family: "Georgia W05 Regular5162277";
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $black;

  &.light-button{
    background-color: $white;
    border: 2px solid $beige;
  }
}