.logo-title{
  color: $beige;
  font-family: "Georgia W05 Regular5162277";
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.logo-text{
  color: $white;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  margin: 10px 0 0 0;
}

.pets-header{

  & .logo-title{
    color: $dark-grey;
  }

  & .logo-text{
    margin: 12px 0 0 4px;
    color: $black;
  }
}